@import "../../style/constants";

.container {
  align-items: center;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  max-width: 1440px;

  @media screen and (max-width: $breakpoint-desktop) {
    margin-bottom: 0;
  }
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 24px;
  }
}

.wrapper {
  height: 126px;
  width: 190px;
}

.label {
  color: $color-white;
}

.text {
  color: $color-white;
}

.inputWrapper {
  display: flex;
  width: 100%;
}

.input {
  background-color: transparent;
  border: 1px solid $color-white;
  color: $color-white;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 3.6px;
  margin: 2px 0;
  padding: 0 6px;
  width: 156px;

  &:focus {
    border-style: dotted;
    outline: none;
  }

  &::selection {
    background-color: rgba($color-white, 0.16);
  }
}

.checkbox {
  margin: 4px 4px 4px 0;
}

.button {
  height: 32px;
  margin: 2px 0 2px 2px;
  width: 32px;
}
