@import "../style/constants.scss";

.container {
  align-items: center;
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  justify-content: center;
  padding-bottom: 60px;
}
