@import "../style/constants";

.wrapper {
  display: inline-block;
  margin: 0 6px;
  position: relative;
}

.link {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:focus {
    outline: rgba($color-black, 0.2) auto 3px;
  }

  &::after {
    background-color: rgba($color-black, 0.08);
    bottom: 0;
    content: "";
    height: 3px;
    left: -3px;
    margin: auto;
    position: absolute;
    transition: 200ms ease-in-out;
    width: calc(100% + 6px);
  }

  &:hover::after {
    background-color: rgba($color-black, 0.16);
    height: 80%;
  }
}

.text {
  font-weight: $font-weight-regular;
}
