/* stylelint-disable color-no-hex */

// Fonts

// Primary colors

// Secondary colors

// Utility colors
$color-white: #fff;
$color-black: #000;
$color-transparent: rgba($color-white, 0);

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1440px;

// Box shadows
