/* stylelint-disable */
// TODO: Remove stylelint disable after refactoring.
@import "../../style/constants";

.container {
  align-items: center;
  display: flex;
  // flex-direction: column;
  // height: 100%;

  flex-direction: row;
  height: calc(100vh - 60px);
  margin: 0 auto;

  background-color: LIGHTPINK;
}

.formWrapper {
  height: 740px;
  max-width: 1440px;
}

.heading {
  width: 50%;
  background-color: GOLD;
}

.formContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-top: 64px;

  width: 50%;
  margin: 32px;
  background-color: LAVENDER;
}

.form {
  background-color: VIOLET;
  // align-items: center;
  // display: flex;
  // flex-direction: column;
  font-family: $font-serif;
  // justify-content: center;
  // margin-bottom: 64px;

  // padding: 32px;
  width: 100%;
  min-height: 740px;
}

.label {
  font-family: $font-sans-serif;
}

.warningContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
}

.warning {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75%;
}

.warning > button {
  margin-top: 32px;
}
