@import "../../style/constants";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formContainer {
  margin-top: 64px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  justify-content: center;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.radioTrue,
.radioFalse {
  font-size: 32px;
  min-width: 100px;
  text-align: left;
}
