@import "../../style/constants";

$section-height: 630px;
$section-padding: 32px;

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 60px);
  justify-content: center;
  margin: 0 auto;
  max-width: $breakpoint-desktop-large;
}

.info {
  height: $section-height;
  padding: $section-padding;
  text-align: center;
}

.heading {
  margin-bottom: 16px;
}

.wrapper {
  width: 50%;
}

.warningContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
}

.warning {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75%;
}

.warning > button {
  margin-top: 32px;
}
