@import "../../style/constants";

.warningContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.warning {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75%;
}

.warning > button {
  margin-top: 32px;
}
