@import "./style/constants";

.nav {
  align-items: center;
  display: flex;
  min-height: 60px;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.linkWrapper {
  margin: 0 12px;
  position: relative;
}

.link {
  text-decoration: none;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }
}

.link::after {
  background-color: rgba($color-black, 0.1);
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transition: 200ms ease-in-out;
  width: 100%;
}

.link:hover::after,
.link:focus::after {
  background-color: rgba($color-black, 0.3);
  width: 80%;
}
